<div class="container" style="padding-top:50px;">
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @one_post.title %></h3>
          </div>
          <div class="panel-body">
                <% if @one_post.ask_category_cd == nil %><td>카테고리</td><% end %>
                <% if @one_post.ask_category_cd == 1%><td>내용정정</td><% end %>
                <% if @one_post.ask_category_cd == 2%><td>오류</td><% end %>
                <% if @one_post.ask_category_cd == 3%><td>기타</td><% end %>
                <hr>
                유저아이디 | <%= @one_post.user.present? ? @one_post.user.email : "an anonymous user" %>
                <hr>
                내용 | <%= @one_post.content %>
                <hr>
                전화번호 | <%= @one_post.tel_number.present? ? @one_post.tel_number : "전화번호 없음" %>
                <hr>
                이메일 | <%= @one_post.writer_email.present? ? @one_post.writer_email : "이메일 없음" %>
                <hr>
                작성날짜 | <%= @one_post.created_at.strftime("%Y-%m-%d") %>
          </div>
        </div>
    </div>
</div>
