<div class="col-xs-12 col-md-4" id="randompage">
    <% unless @stores.exists? %>
        <div style="padding-top: 70px; padding-bottom: 40px; text-align:center;">맞는 조건이 없습니다ㅠ_ㅠ 다시 선택해주세요
    
        </div>
    <% end %>
	<% @store.each do |s| %>
	<div id="map" style="width:100%;height:190px;">
	</div>
	
	<script>
        var map;
        $( document ).ready(function() {
            var store_address = "<%= s.address %>"
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };  
            
            // 지도를 생성합니다    
            var map = new daum.maps.Map(mapContainer, mapOption); 
            
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new daum.maps.services.Geocoder();
            
            // 주소로 좌표를 검색합니다
            geocoder.addressSearch(store_address, function(result, status) {
            
                // 정상적으로 검색이 완료됐으면 
                 if (status === daum.maps.services.Status.OK) {
            
                    var coords = new daum.maps.LatLng(result[0].y, result[0].x);
            
                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new daum.maps.Marker({
                        map: map,
                        position: coords
                    });
            
                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new daum.maps.InfoWindow({
                        content: '<div style="width:150px;text-align:center;padding:6px 0;">요깃</div>'
                    });
                    infowindow.open(map, marker);
            
                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                } 
            });
        });
    </script>
	<h5><%=s.store_name %>
    	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    	<a id="kakao-link-btn" href="javascript:;">
            <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/>
        </a>
        <script type='text/javascript'>
            //<![CDATA[
            Kakao.init('237b2464a7c3b20eedde6cf494a93276');
            Kakao.Link.createTalkLinkButton({
                container: '#kakao-link-btn',
                label: '인생~~~~',
                image: {
                    src: 'https://www.google.co.kr/webhp?hl=ko&sa=X&ved=0ahUKEwjt-5rOkerVAhWLTbwKHZJABsAQPAgD',
                    width: '300',
                    height: '200'
                },
                webButton: {
                    text: '배고프다~~',
                    url: 'https://bob-misung.c9users.io/home/search_result_store/' + <%=s.id%>
                }
            });
            //]]>
        </script>
    </h5>
    <div class="col-xs-12 col-md-12" id="detail_tip">
        	<p class="detail">
        		<%=s.food_category %> | <%=s.distance %>거리
        	</p>
        	<div class="help-tip">
        		<p>
        			서울과기대 정문 기준
        		</p>
        	</div>
        	
	</div>
	<br/><br/>
	<p>
		<i class="tiny material-icons icon-pink">room</i><%=s.address %><br>
	</p>
	<p>
		<i class="tiny material-icons icon-pink">call</i><a href="tel:<%=s.tel_number %>"><%=s.tel_number %></a><br>
	</p>
	<p>
		<i class="tiny material-icons icon-pink">label</i><%=s.keyword %><br>
	</p>
	<p>
		<i class="tiny material-icons icon-pink">query_builder</i><%=s.opentime %> | 휴무 <%=s.closed_holiday %><br>
	</p>
	<p class="break">
		(break time <%=s.breaktime %>)
	</p>
	<p>
		<i class="tiny material-icons icon-pink">edit</i><a href="/home/contact">틀린내용 수정</a>
	</p>
	<% end %>
	<div style="text-align: center; padding-top:20px;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li role="presentation" class="tab col-xs-6 active"><a href="#home" aria-controls="home" style="color: #ee6e73;" role="tab" data-toggle="tab">메뉴</a></li>
			<li role="presentation" class="tab col-xs-6"><a href="#profile" aria-controls="profile" style="color: #ee6e73;" role="tab" data-toggle="tab">리뷰</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<% @menus.each do |m| %>
				<% if @store_id==m.store_id %>
				<table class="bordered">
				<div class="col-xs-12">
				<tr>
					<td>
						<%=m.menu_name %>
					</td>
					<td class="col-xs-6" style="padding-left: 60px;">
						<%=m.price %>
					</td>
				</tr>
				</div>
				</table>
				<% end %>
				<% @store_id_js=m.store_id %>
				<% end %>
			</div>
			<div role="tabpanel" class="tab-pane" id="profile">
			    <!--<form action="review_write" method="post">-->
					<textarea class="materialize-textarea" placeholder="리뷰를 적어주세요 !" id="review" name="content"></textarea>
					<!--<input type="hidden" name="store_id" value="<%=@store_id%>"> -->
					<button class="btn red lighten-3 review_submit" type="submit">리뷰쓰기</button>
				<!--</form>-->
			    <ul id="myList">
				<% @reviews.each do |r| %>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="panelheader">
							<%= r.user.present? ? r.user.email : "n/a" %>&nbsp;<font color="#9e9e9e"><%=r.created_at.strftime("%Y-%m-%d") %></font>
						</div>
						<%=r.content %>
					</div>
				</div>
				<% end %>
				</ul>
				<!--<a href="#" id="loadMore">더보기</a>-->
			</div>
			<script>
			var r_number = 0;
			$( ".review_submit" ).click(function() {
			    r_content = $("#review").val();
			    store_id = <%= @store_id %>
			    user_email = "<%= current_user.present? ? current_user.email : "n/a" %>"
			    $.ajax({
			      method: "POST",
			      url: "review_write",
			      data: { content: r_content, store_id: store_id },
			      success:function(){
                        var insTag = "<div class='panel panel-default'><div class='panel-body' id='review_body'><div class='panelheader'>" + user_email + "<font color='#9e9e9e'>2017-08-08</font> <p></p> </div></div>";
                        $("#myList").prepend(insTag);
                        $("p").last().prepend(r_content);
                        // $(".r_number").attr('id', "rcontent_"+r_number );
                        // $("#rcontent_"+r_number).append(r_content);
                        // r_number = ++r_number;
                        alert("리플이 작성되었습니다.");
                  },
                  error:function(){
                        alert("리뷰는 로그인 후 작성할 수 있습니다.");
                  }
			    })
			});
			</script>
		</div>
		<ul class="collapsible" data-collapsible="accordion" style="box-shadow: none;">
			<li>
			<div class="collapsible-header">
				조건 추가
			</div>
			<div class="collapsible-body">
				<span>
				<form action="/home/random_result" method="get">
				    <div class="multiselect">
    				    <input type="checkbox" class="filled-in" id="filled-in-box1" name="boxbox[]" value="all" />
                        <label for="filled-in-box1">전체</label>
                        <input type="checkbox" class="filled-in" id="filled-in-box2" name="boxbox[]" value="한식"/>
                        <label for="filled-in-box2">한식</label>
    					<input type="checkbox" class="filled-in" id="filled-in-box3" name="boxbox[]" value="일식"/>
                        <label for="filled-in-box3">일식</label>
    					<input type="checkbox" class="filled-in" id="filled-in-box4" name="boxbox[]" value="양식"/>
                        <label for="filled-in-box4">양식</label>
    					<input type="checkbox" class="filled-in" id="filled-in-box5" name="boxbox[]" value="중식"/>
                        <label for="filled-in-box5">중식</label>
    					<input type="checkbox" class="filled-in" id="filled-in-box6" name="boxbox[]" value="분식"/>
                        <label for="filled-in-box6">분식</label>
    					<input type="checkbox" class="filled-in" id="filled-in-box7" name="boxbox[]" value="기타"/>
                        <label for="filled-in-box7">기타</label>
                    </div>
					<hr>
					    <input type="checkbox" class="filled-in" id="walk-box0" name="walkbox[]" value="배달"/>
                        <label for="walk-box0">배달</label>
    					<input type="checkbox" class="filled-in" id="walk-box1" name="walkbox[]" value="5분"/>
                        <label for="walk-box1">5분</label>
    					<input type="checkbox" class="filled-in" id="walk-box2" name="walkbox[]" value="10분"/>
                        <label for="walk-box2">10분</label>
    					<input type="checkbox" class="filled-in" id="walk-box3" name="walkbox[]" value="15분"/>
                        <label for="walk-box3">15분이상</label>
					    <hr>
    					<div class="abgne-menu-20140101-2">
    					  <input type="checkbox" id="price1" name="pricebox[]" value="1">
    					  <label for="price1">$</label>
    					
    					  <input type="checkbox" id="price2" name="pricebox[]"value="2">
    					  <label for="price2">$$</label>
    					
    					  <input type="checkbox" id="price3" name="pricebox[]"value="3">
    					  <label for="price3">$$$</label>
    					
    					</div>
    		
					<div class="search_option" type="submit" name="">
					    <button type="submit" class="btn waves-effect waves-light" role="button" style="width:100%;">조건 안에서 랜덤</button>
					</div>
				</form>
			</div>
		    </span>
		</li>
	</ul>
	<a href="/home/random_result" class="btn waves-effect waves-light" style="width:100%;background-color:#ee6e73;">랜덤</a>
	
			
			
		
	</div>
</div>

<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
  });

$(".button-collapse").sideNav();

$(document).ready(function(){
    //최상단 체크박스 클릭
    $("#filled-in-box1").click(function(){
        //클릭되었으면
        if($("#filled-in-box1").prop("checked")){
            //input태그의 name이 boxbox인 태그들을 찾아서 checked옵션을 true로 정의
            $("input[class=filled-in]").prop("checked",true);
            //클릭이 안되있으면
        }else{
            //input태그의 name이 boxbox인 태그들을 찾아서 checked옵션을 false로 정의
            $("input[class=filled-in]").prop("checked",false);
        }
    })
})


var send_array = Array();
var send_cnt = 0;
var chkbox = $(".filled-in");

for(i=0;i<chkbox.length;i++) {
    if (chkbox[i].checked == true){
        send_array[send_cnt] = chkbox[i].value;
        send_cnt++;
    }
}

$("#array").val(send_array);

</script>
  
<style>
[type="checkbox"]+label{
    padding-left: 25px;
    padding-right: 35px;
}
h5 {
        padding-top: 10px;
    }
i.icon-pink {
        color : #ee6e73;
        padding-left: 2px;
        padding-right: 5px;
        padding-bottom: 0px;
      
    }
p {
        font-size: 14px;
        margin-bottom: 2px;
    }
p.break {
        padding-left: 25px;
    }
p.detail {

    }

#detail_tip{
    text-align: right;
}

.detail,
.help-tip{
    display: inline-block;
    
}
.help-tip{
    
    top: 60%;
    right: 1%;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    background-color: #1E2021;
    padding: 10px;
    width: 125px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: 7px;
    color: #FFF;
    font-size: 10px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
   
.collapsible-header{
             text-align:center;
             color: #ee6e73;
          }
.collapsible-body{
    padding: 1rem;
}          
#review{
    width:80%;
}
ul#myList{
    padding-top:10px;
}         
.ui-widget-header{
    background: #ee6e73;
  }
.panel-body{
    text-align: left;
}
.panelheader{
    padding-bottom: 7px;
}

#profile{
    padding-top: 20px;
}

.search_option{
    padding-top: 10px;
    text-align: center;
    display: block;
    cursor: pointer;
    min-height: 2rem;
    line-height: 2.5rem;
    border-top: 1px solid #ddd;
    font-weight: bold;
    
}

label{
	color: black;
	font-weight: 500;
}
 .abgne-menu-20140101-2 input[type="checkbox"] {
    display: none;
}
.abgne-menu-20140101-2 input[type="checkbox"] + label {
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 13px;
    border-radius: 50%;
    border: 1px solid #ddd;

}
.abgne-menu-20140101-2 input[type="checkbox"]:checked + label {
    background-color: #4a4646;
    color: #fff;
}

[type="checkbox"]:checked+label:before {
	display: none;

}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
	display: none;
}

table{
    border-color: #F8F8FF;
}

td{
    padding: 9px 30px;
}

@media (min-width: 800px) {
    #randompage{
    width: 80%;
    padding-left: 20%
    }
}


</style>

<!--text-align:center; 
vertical-align:middle;
