<div class="col-xs-12 col-md-4" id="randompage">
	<div id="map" style="width:100%;height:190px;">
	</div>
	<script>
        var map;
        $( document ).ready(function() {
            var store_address = "<%= @one_result.address %>"
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };  
            // 지도를 생성합니다
            map = new daum.maps.Map(mapContainer, mapOption); 
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new daum.maps.services.Geocoder();
            // 주소로 좌표를 검색합니다
            geocoder.addr2coord(store_address, function(status, result) {
                // 정상적으로 검색이 완료됐으면 
                 if (status === daum.maps.services.Status.OK) {
                    var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new daum.maps.Marker({
                        map: map,
                        position: coords
                    });
                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new daum.maps.InfoWindow({
                        content: '<div style="width:150px;text-align:center;padding:6px 0;">요깄네</div>'
                    });
                    infowindow.open(map, marker);
                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                } 
            });
        });
    </script>
	<h5><%=@one_result.store_name %>
	    	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    	<a id="kakao-link-btn" href="javascript:;">
            <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/>
        </a>
        <script type='text/javascript'>
            //<![CDATA[
            Kakao.init('237b2464a7c3b20eedde6cf494a93276');
            Kakao.Link.createTalkLinkButton({
                container: '#kakao-link-btn',
                label: '인생~~~~',
                image: {
                    src: 'https://www.google.co.kr/webhp?hl=ko&sa=X&ved=0ahUKEwjt-5rOkerVAhWLTbwKHZJABsAQPAgD',
                    width: '300',
                    height: '200'
                },
                webButton: {
                    text: '배고프다~~',
                    url: 'https://bob-misung.c9users.io/home/search_result_store/' + <%=@one_result.id%>
                }
            });
            //]]>
        </script>
	</h5>
    <div class="col-xs-12 col-md-12" id="detail_tip">
        	<p class="detail">
        		<%=@one_result.food_category %> | <%=@one_result.distance %>거리
        	</p>
        	<div class="help-tip">
        		<p>
        			서울과기대 정문 기준
        		</p>
        	</div>
        	
	</div>
	<br/><br/>
	<p>
		<i class="tiny material-icons icon-pink">room</i><%=@one_result.address %><br>
	</p>
	<p>
		<i class="tiny material-icons icon-pink">call</i><a href="tel:<%=@one_result.tel_number %>"><%=@one_result.tel_number %></a><br>
	</p>
	<p>
		<i class="tiny material-icons icon-pink">label</i><%=@one_result.keyword %><br>
	</p>
	<p>
		<i class="tiny material-icons icon-pink">query_builder</i><%=@one_result.opentime %> | 휴무 <%=@one_result.closed_holiday %><br>
	</p>
	<p class="break">
		(break time <%=@one_result.breaktime %>)
	</p>
	<p>
		<i class="tiny material-icons icon-pink">edit</i><a href="/home/contact">틀린내용 수정</a>
	</p>

 
	<div style="text-align: center;">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li role="presentation" class="tab col-xs-6 active"><a href="#home" aria-controls="home" style="color: #ee6e73;" role="tab" data-toggle="tab">메뉴</a></li>
			<li role="presentation" class="tab col-xs-6"><a href="#profile" aria-controls="profile" style="color: #ee6e73;" role="tab" data-toggle="tab">리뷰</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<% @menus.each do |m| %>
				<% if @store_id==m.store_id %>
				<table class="bordered">
				<div class="col-xs-12">
    				<tr>
    					<td>
    						<%=m.menu_name %>
    					</td>
    					<td class="col-xs-6" style="padding-left: 60px;">
    						<%=m.price %>
    					</td>
    				</tr>
				</div>
				</table>
				<% end %>
				<% @store_id_js=m.store_id %>
				<% end %>
			</div>
			<div role="tabpanel" class="tab-pane" id="profile">
			    <!--<form action="review_write" method="post">-->
					<input type="text" class="form-control, .col-md-4" placeholder="리뷰를 적어주세요 !" id="review" name="content">
					<!--<input type="hidden" name="store_id" value="<%=@store_id%>"> -->
					<button class="btn red lighten-3 review_submit" type="submit">리뷰쓰기</button>
				<!--</form>-->
			    <ul id="myList">
				<% @reviews.each do |r| %>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="panelheader">
							익명 <font color="#9e9e9e"><%=r.created_at.strftime("%Y-%m-%d") %></font>
						</div>
						<%=r.content %>
					</div>
				</div>
				<% end %>
				</ul>
				<!--<a href="#" id="loadMore">더보기</a>-->
			</div>
			<script>
			var r_number = 0;
			$( ".review_submit" ).click(function() {
			    r_content = $("#review").val();
			    store_id = <%= @one_result.id %>;
			    $.ajax({
			      method: "POST",
			      url: "review_write",
			      data: { content: r_content, store_id: store_id },
			      success:function(){
                        var insTag = "<div class='panel panel-default'><div class='panel-body' id='review_body'><div class='panelheader'>익명 <font color='#9e9e9e'>2017-08-08</font> <p></p> </div></div>";
                        $("#myList").prepend(insTag);
                        $("p").last().prepend(r_content);
                        // $(".r_number").attr('id', "rcontent_"+r_number );
                        // $("#rcontent_"+r_number).append(r_content);
                        // r_number = ++r_number;
                        alert("리플이 작성되었습니다.");
                  },
                  error:function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                   }
			    })
			});
			</script>
		</div>

	</div>
</div>

<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
  });


</script>
  
<style>
#map{
    width:100%;
    height:190px;
}
    

h5 {
        padding-top: 10px;
    }
i.icon-pink {
        color : #ee6e73;
        padding-left: 2px;
        padding-right: 5px;
        padding-bottom: 0px;
      
    }
p {
        font-size: 14px;
        margin-bottom: 2px;
    }
p.break {
        padding-left: 25px;
    }
p.detail {
    }
#detail_tip{
    text-align: right;
}

.detail,
.help-tip{
    display: inline-block;
    
}
    
.help-tip{
    top: 60%;
    right: 1%;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    background-color: #1E2021;
    padding: 10px;
    width: 125px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: 7px;
    color: #FFF;
    font-size: 10px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
   
.collapsible-header{
             text-align:center;
             color: #ee6e73;
          }
.collapsible-body{
    padding: 1rem;
}          
#review{
    width:80%;
}
ul#myList{
    padding-top:10px;
}           
.ui-widget-header{
    background: #ee6e73;
  }
.panel-body{
    text-align: left;
}
.panelheader{
    padding-bottom: 7px;
}

#profile{
    padding-top: 20px;
}
#profile button{
    margin:auto;
  display:block;
}
table{
    border-color: #F8F8FF;
}

td{
    padding: 9px 30px;
}

@media (min-width: 800px) {
    #randompage{
    width: 80%;
    padding-left: 20%
    }
}

</style>

<!--text-align:center; 
vertical-align:middle;
