<!DOCTYPE html>
<html>
<head>
  <title>렛츠기릿 - 서울과학기술대학교 식당 추천</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= ENV["stripe_api_key"] %>&libraries=services,drawing"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', '<%= ENV["google_analytics_key"] %>', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<style>
  body{
    width:100%;height:100vh;
  }
  nav {     width:100%;
            height: 70px;
        line-height: 70px;
        
    }
  .material-icons {
     padding-top: 10px;
     padding-left: 20px;
  }
  
  a.button-collapse{
    text-decoration:none;
  }
  
  a.brand-logo {
    font-weight: bold;
    font-size: 25px;
    text-decoration:none;
  }
a:focus, a:hover{
  text-decoration:none;
}
#sidenav-overlay { margin-left: 900px; }
#sidenav-overlay { left: 900px; }
</style>
<body>
<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
        <a href="/home/index" class="brand-logo">렛츠기릿</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        
          <ul class="right hide-on-med-and-down">
            <li><a href="/home/introduction">렛츠기릿 소개</a></li>
            <li><a href="/home/index">처음으로</a></li>
            <li><a href="/home/search">검색</a></li>
            <li><a href="/home/registration">가게등록</a></li>
            <li><a href="/home/contact">문의</a></li>
            
            
            <% if user_signed_in? %>
              <ul id="dropdown1" class="dropdown-content">
                <li><%= link_to "마이페이지", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
                </li>
              </ul>
            <% end %>
            <% if user_signed_in? %>
              <li><%= link_to "마이페이지", edit_user_registration_path %></li>
              <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
              <% else %>
              <li>
                <%= link_to "로그인", new_user_session_path %>
              </li>
            <% end %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/home/introduction">렛츠기릿 소개</a></li>
            <li><a href="/home/index">처음으로</a></li>
            <li><a href="/home/search">검색</a></li>
            <li><a href="/home/registration">가게등록</a></li>
            <li><a href="/home/contact">문의</a></li>
            
            <% if user_signed_in? %>
              <li><%= link_to "마이페이지", edit_user_registration_path %></li>
              <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
            <% else %>
              <li>
                <%= link_to "로그인", new_user_session_path %>
              </li>
            <% end %>
          </ul>
          
       </div>
  </nav>
</div>
<p class="notice"><%= notice %></p>

<%= yield %>

<script>
   $(".button-collapse").sideNav();
   

</script>

<script type="text/javascript">
(function(w, d, a){
	w.__beusablerumclient__ = {
		load : function(src){
			var b = d.createElement("script");
			b.src = src; b.async=true; b.type = "text/javascript";
			d.getElementsByTagName("head")[0].appendChild(b);
		}
	};w.__beusablerumclient__.load(a);
})(window, document, '//rum.beusable.net/script/b171125e132723u705/07f96289c0');
</script>
</body>
</html>
